<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<form id="testForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ test_form.as_p }}
    <div id="questionsContainer">
        <div class="question">
            {{ question_form.as_p }}
            <button type="button" class="addAnswerBtn">Добавить ответ</button>
            <div class="answersContainer"></div>
        </div>
    </div>
    <button type="button" onclick="addQuestion()">Добавить вопрос</button>
    <button type="submit">Сохранить тест</button>
</form>

<script>
function addQuestion() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{% url "get-question-form" %}', true);
    xhr.onload = function () {
        if (this.status == 200) {
            var data = JSON.parse(this.responseText);
            var container = document.getElementById('questionsContainer');
            var div = document.createElement('div');
            div.className = 'question';
            div.innerHTML = data.question_form;
            var button = document.createElement('button');
            button.type = 'button';
            button.className = 'addAnswerBtn';
            button.textContent = 'Добавить ответ';
            button.onclick = addAnswer;
            div.appendChild(button);
            var answersDiv = document.createElement('div');
            answersDiv.className = 'answersContainer';
            div.appendChild(answersDiv);
            container.appendChild(div);
        }
    };
    xhr.send();
}



</script>
<script>// Проверьте, что скрипт находится в шаблоне, где работает Django template engine
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('questionsContainer').addEventListener('click', function(e) {
        if (e.target.classList.contains('addAnswerBtn')) {
            addAnswer(e.target);
        }
    });
});

function addAnswer(button) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{% url "get-answer-form" %}', true);
    xhr.onload = function() {
        if (this.status === 200) {
            var data = JSON.parse(this.responseText);
            var answersContainer = button.nextElementSibling;  // Убедитесь, что контейнер ответов следует за кнопкой
            answersContainer.innerHTML += data.answer_form;
        } else {
            console.error('Failed to load answer form:', this.statusText);
        }
    };
    xhr.onerror = function() {
        console.error('Error during the AJAX call');
    };
    xhr.send();
}
</script>
</body>
</html>
