<!DOCTYPE html>
<html>
<head>
    <title>Create Test</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            let questionFormset = $('#id_questions-TOTAL_FORMS');
            let questionCount = parseInt(questionFormset.val());

            $('#add-question').click(function() {
                let newQuestionForm = $('#question-form-template').clone(true).removeAttr('id');
                newQuestionForm.find(':input').each(function() {
                    let name = $(this).attr('name').replace('__prefix__', questionCount);
                    let id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id}).val('');
                });
                newQuestionForm.find('label').each(function() {
                    let forAttr = $(this).attr('for').replace('__prefix__', questionCount);
                    $(this).attr('for', forAttr);
                });
                newQuestionForm.appendTo('#question-formset');
                questionCount++;
                questionFormset.val(questionCount);
            });

            let answerFormset = $('#id_answers-TOTAL_FORMS');
            let answerCount = parseInt(answerFormset.val());

            $('#add-answer').click(function() {
                let newAnswerForm = $('#answer-form-template').clone(true).removeAttr('id');
                newAnswerForm.find(':input').each(function() {
                    let name = $(this).attr('name').replace('__prefix__', answerCount);
                    let id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id}).val('');
                });
                newAnswerForm.find('label').each(function() {
                    let forAttr = $(this).attr('for').replace('__prefix__', answerCount);
                    $(this).attr('for', forAttr);
                });
                newAnswerForm.appendTo('#answer-formset');
                answerCount++;
                answerFormset.val(answerCount);
            });
        });
    </script>
</head>
<body>
    <h1>Create Test</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Test</legend>
            {{ test_form.as_p }}
        </fieldset>

        <fieldset id="question-formset">
            <legend>Questions</legend>
            {{ question_formset.management_form }}
            {% for form in question_formset %}
                <div class="question-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </fieldset>
        <button type="button" id="add-question">Add Question</button>

        <fieldset id="answer-formset">
            <legend>Answers</legend>
            {{ answer_formset.management_form }}
            {% for form in answer_formset %}
                <div class="answer-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </fieldset>
        <button type="button" id="add-answer">Add Answer</button>

        <button type="submit">Save</button>
    </form>

    <div id="question-form-template" style="display: none;">
        <div class="question-form">
            {{ question_formset.empty_form.as_p }}
        </div>
    </div>

    <div id="answer-form-template" style="display: none;">
        <div class="answer-form">
            {{ answer_formset.empty_form.as_p }}
        </div>
    </div>
</body>
</html>
