{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB BEKS</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container right-panel-active">

        <div class="container__form container--signup">
            <form action="{% url 'register' %}" method="post" class="form" id="form1">
    {% csrf_token %}
    {{ form.username }}
    {% if form.username.errors %}
        <div class="errors">{{ form.username.errors }}</div>
    {% endif %}
    {{ form.email }}
    {% if form.email.errors %}
        <div class="errors">{{ form.email.errors }}</div>
    {% endif %}
    {{ form.password1 }}
    {% if form.password1.errors %}
        <div class="errors">{{ form.password1.errors }}</div>
    {% endif %}
    {{ form.password2 }}
    {% if form.password2.errors %}
        <div class="errors">{{ form.password2.errors }}</div>
    {% endif %}
    <button type="submit" class="btn">Sign Up</button>
</form>



        </div>


        <div class="container__form container--signin">
            <form action="{% url 'login' %}" method="post" class="form" id="form2">
                {% csrf_token %}
                {{ forms.as_p }}
                <button class="btn" type="submit">Sign In</button>
            </form>
        </div>

        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Sign In</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script defer src="{% static 'js/main.js' %}"></script>
</body>
</html>