<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Прохождение теста</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">{{ test.title }}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for question, form in questions_and_forms %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ forloop.counter }}. {{ question.question }}</h5>
                        {% if question.image %}
                            <img src="{{ question.image.url }}" class="img-fluid mt-3" alt="Изображение вопроса">
                        {% endif %}
                        {{ form.as_p }}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Отправить</button>
        </form>
    </div>
</body>
</html>